* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  color: #88725b;
}

:root {
  --superlight: #bcc1c5;
  --light: #88725b;
  --dark: #302219;
  --neutral: #a7b0b2;
  --superdark: #080908;
}

main {
  width: 100vw;
  height: 100vh;
  background-color: var(--superlight);
}

main h1 {
  color: var(--dark);
  font-size: 30px;
}

.nav-container {
  display: inline-block;
}

.text {
  font-size: 2em;
  letter-spacing: 10px;
  font-family: monospace;
  border-right: 3px var(--dark) solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typingText 2s steps(18), cursor 0.4s step-end infinite alternate;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typingText {
  from {
    width: 0;
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3% 10% 0 5%;
}

.navigation-links ul {
  background-color: var(--dark);
  display: flex;
  list-style-type: none;
  border-radius: 53px;
}

.navigation-links li a {
  color: var(--superlight);
  font-weight: 600;
  text-decoration: none;
  margin: 0 54px;
}

.navigation-links a:hover {
  color: var(--light);
  transition: ease;
}

.navigation-links li {
  padding: 10px 0 10px;
}

.headnav-link {
  padding: 0%;
}

.headnav-link li {
  width: auto;
  text-align: center;
  list-style-type: none;
  padding: 7px;
  position: relative;
}

.headnav-link li::before {
  content: " ";
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 90%;
  width: 0;
  height: 2px;
  background-color: var(--superlight);
  transition-duration: 0.5s;
}

.headnav-link li:hover::before {
  width: 70px;
}

.profile img {
  background-image: url("../img/img-about.png");
  background-position: right;
  background-repeat: no-repeat;
  position: absolute;
  box-sizing: border-box;
  margin: 10% 0 0 21%;
  width: 25%;
  height: 41%;
  border-radius: 5%;
  align-items: center;
}

.row {
  display: flex;
}

.column1 {
  flex-basis: 68%;
}

.mainPage {
  margin: -23.5% 0 0 52%;
}

.column1 h3 {
  color: var(--superdark);
  font-family: "Poppins", sans-serif;
  margin: 0 0 2% 0;
}

.column1 h2 {
  color: var(--dark);
  margin: 0 0 3% 0;
}

.column1 h2 i {
  color: var(--light);
}

.column1 p {
  color: var(--dark);
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: var(--light);
  margin: 23% 0 0 37%;
}

.text p {
  color: var(--dark);
}

footer {
  background-color: var(--dark);
}

footer h1 {
  color: var(--light);
  padding: 1% 0 0 2%;
}

.footer-container {
  width: 1140px;
  display: flex;
  margin: auto;
  justify-content: center;
}

.footer-contacts {
  width: 33.3%;
}

.footer-contacts h3 {
  font-size: 23px;
  color: var(--neutral);
  margin: 0 0 15px 0;
  text-align: center;
}

.nav-links h3 {
  font-size: 23px;
  color: var(--neutral);
  margin: 0 0 15px 0;
  text-align: center;
}

.social-links h3 {
  font-size: 23px;
  color: var(--neutral);
  margin: 0 0 15px 0;
  text-align: center;
}

.footer-contacts p {
  color: var(--light);
  width: 190px;
  margin: auto;
  padding: 7px;
}

.nav-links {
  width: 33.3%;
}

.nav-links ul {
  text-align: center;
}

.links {
  padding: 0;
}

.links li {
  width: auto;
  text-align: center;
  list-style-type: none;
  padding: 7px;
  position: relative;
}

.links li::before {
  content: " ";
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 100%;
  width: 0;
  height: 2px;
  background-color: var(--superlight);
  transition-duration: 0.5s;
}

.links li:hover::before {
  width: 70px;
}

.social-links {
  text-align: center;
  padding: 0%;
  width: 35.3%;
}

.social-links li {
  text-decoration: none;
  list-style: none;
  padding: 5px;
  display: inline-block;
}

.social-links i {
  color: var(--light);
  font-size: 25px;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--superlight);
}

a i:hover {
  color: var(--superlight);
}

.social-links li:hover {
  color: var(--superlight);
}

.bottom-bar {
  background: var(--light);
  text-align: center;
  padding: 10px 0;
  margin-top: 50px;
}

.bottom-bar p {
  color: var(--superdark);
  margin: 0;
  font-size: 16px;
  padding: 7px;
  font-weight: 600;
}
